<section id="left-side-bar">
    <div class="logo-image flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="spotify">
    </div>


    <div class="Menu-detail-container flex option">
        <!-- premier partie sur navbar les options -->


        <button class="Home-btn btn btn-warning">
            <fa-icon [icon]="homeIcon"></fa-icon> <span>Home</span>
        </button>
        <button class="Search-btn btn btn-warning">
            <fa-icon [icon]="searchIcon"></fa-icon> <span>Search</span>
        </button>
        <button class="Artist-btn btn btn-warning">
            <fa-icon [icon]="artistIcon"></fa-icon> <span>Artist</span>
        </button>
    </div>

    <div class="Menu-playlist-container flex">
        <span class="Playlist-title">
            Playlist
        </span>
    </div>

    <div class="playlist-scroll">
    
    </div>
</section>